/* Global */

:root {
    --black: #000000;
    --white: #ffffff;
    --yellow: #dfdb1a;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #2F4F30;
    color: var(--white);
    font-size: 1.6rem;
}
span {
    color: var(--yellow);
    font-weight: bold;
    text-shadow: var(--white);
}

/* Main-Site */
/* Site-Header */

.container {
    margin: 0 auto;
    max-width: 90%;
}
.site-header {
    background-color: var(--black);
    border-bottom: 2px solid var(--white);
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    text-align: center;
}
.site-header h1 {
    margin: 0;
}
.cash {
    border-top: 2px solid var(--white);
    padding-top: 1rem;
    font-size: 2rem;
}
#btn-amount {
    margin-left: 1rem;
    border: 2px solid var(--white);
}
#players {
    text-transform: uppercase;
}
#player-cards {
    min-height: 22rem;
}
.cards {
    position: relative;
    left: 3.5rem;
    margin-left: -7rem;
    padding: 1rem;
    width: 15rem;
}