/* Global */

:root {
    --black: #000000;
    --white: #ffffff;
    --yellow: #dfdb1a;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #2F4F30;
    color: var(--white);
    font-size: 1.6rem;
}
span {
    color: var(--yellow);
    font-weight: bold;
    text-shadow: var(--white);
}

/* Main-Site */
/* Site-Header */

.site-header {
    background-color: var(--black);
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    text-align: center;
}
.site-header h1 {
    margin: 0;
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
}
.cash {
    border: 2px solid var(--black);
    display: inline-block;
    padding: 0 3rem;
    font-size: 2rem;
}
#players {
    text-transform: uppercase;
}
#player-cards {
    height: 25rem;
}
.cards {
    position: relative;
    left: 5rem;
    margin-left: -7rem;
    padding: 1rem;
    width: 15rem;
}
/* @media (min-width:1000px) {
    .cards {
        position: relative;
        left: 10rem;
        margin-left: -7rem;
        padding: 1rem;
        width: 15rem;
    }
}
@media (max-width:1000px) {
    .col-4 {
        flex: 0 0 100%;
    }
}
@media (min-width:1001px) {
    .col-4 {
        flex: 0 0 50%;
    }
} */